.article-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-wrap-balance {
  text-wrap: balance
}

.capitalise {
  text-transform: capitalize
}

.max-w-xxs {
  max-width: 16rem;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.typing {
  animation: typing .5s step-end infinite alternate;
  border-right: 3px solid;
}

@keyframes typing {
  50% {
    border-color: transparent
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}